#portal_navigator {
  margin: 15px 0;
  min-height: 50vh;
}

#portal_navigator #list-tab {
  border-bottom: 10px solid #f1f1f1;
  border-top: 10px solid #f1f1f1;
  margin-bottom: 1rem;
}

#portal_navigator .list-group-item-action:hover {
  background: none;
}

#portal_navigator h3 {
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  height: 100%;
  padding: 15px;
}

#portal_navigator h3 i {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

#portal_navigator h3:hover {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
}

#portal_navigator h3:hover i {
  color: #fff;
}

#portal_navigator h3:hover.tile-health-outcomes-and-experiences {
  background-color: #38598A;
}

#portal_navigator h3:hover.tile-understand-health-needs {
  background-color: #546fe4;
}

#portal_navigator h3:hover.tile-meet-health-needs {
  background-color: #3a852b;
}

#portal_navigator h3:hover.tile-support-service-providers {
  background-color: #953734;
}

#portal_navigator h3:hover.tile-enable-technology-and-infrastructure {
  background-color: #e3a82b;
}

#portal_navigator h3 span {
  display: block;
}

#portal_navigator .active h3 {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
}

#portal_navigator .active h3 i {
  color: #fff;
}

#portal_navigator .active h3.tile-health-outcomes-and-experiences {
  background-color: #38598A;
}

#portal_navigator .active h3.tile-understand-health-needs {
  background-color: #546fe4;
}

#portal_navigator .active h3.tile-meet-health-needs {
  background-color: #3a852b;
}

#portal_navigator .active h3.tile-support-service-providers {
  background-color: #953734;
}

#portal_navigator .active h3.tile-enable-technology-and-infrastructure {
  background-color: #e3a82b;
}

/* Full Title */
#portal_navigator .full-title p {
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
}

#portal_navigator .full-title p.outcomes {
  background-color: #38598A;
}

#portal_navigator .full-title p.understand {
  background-color: #546fe4;
}

#portal_navigator .full-title p.meet {
  background-color: #3a852b;
}

#portal_navigator .full-title p.support {
  background-color: #953734;
}

#portal_navigator .full-title p.enable {
  background-color: #e3a82b;
}

/* Accordion */
#portal_navigator .accordion .card-header {
  padding: 0;
}

#portal_navigator .accordion .card-header .btn-link {
  display: inline-block;
  font-size: inherit;
  width: 100%;
  text-align: left;
  padding: .75rem 1.25rem;
}
