{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}

  <main role="main" class="container-fluid">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {{ page.help }}

    <div class="row">
      {% if page.sidebar_first and is_front == false %}
        <aside class="layout-sidebar-first col-2" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      <div class="layout-content col">
        <div class="content">
          {{ page.highlighted }}
          {{ page.secondary_menu }}
          {# {{ page.breadcrumb }} #}
          {{ page.content }}
        </div>
      </div>{# /.layout-content #}

      {% if page.sidebar_second %}
        <aside class="layout-sidebar-second col-2" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>
  </main>

  {% if page.footer %}
    <footer id="footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-end">
          <div class="col-10">
            <div id="modal-content"></div>
            <div id="reportcontainer">
              <div id="report-filters">
              </div>
              <div id="framecontainer"></div>
              <div id="shield"></div>
              <div style="clear:both;"></div>
            </div>
          </div>
          <div class="col-2">
            <div class="btn-group-vertical" role="group">
              <button type="button" class="btn btn-outline-secondary">View definitions</button>
              {# <button type="button" class="btn btn-outline-secondary">View reports</button> #}
              <button type="button" class="btn btn-outline-secondary">Go to MetaSpace</button>
              {# <button type="button" class="btn btn-outline-secondary">Go to Portal</button> #}
            </div>
            <!-- Default dropright button -->
            <div class="btn-group dropright">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View reports
              </button>
              <div class="dropdown-menu">
                <ul>
                  <li><a href="#">Report 1</a></l1>
                  <li><a href="#">Report 2</a></li>
                  <li><a href="#">Report 3</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
