{{ attach_library('portal_navigator/portal_navigator') }}

<section id="portal_navigator">
  <div class="row no-gutters list-group list-group-horizontal" id="list-tab" role="tablist">
    {% for category in report_categories %}
      <div id="list-{{ category.name|clean_class }}" data-toggle="list" href="#{{ category.name|clean_class }}"
           role="tab" class="col list-group-item-action {{ loop.first ? 'active' }}">
        <h3 class="tile-{{ category.name|clean_class }} text-center" data-section="enable"
            data-definition="{{ category.name }}">
          <i class="{{ category.icon }}"></i><span class="d-sm-none d-md-block">{{ category.name }}</span>
        </h3>
      </div>
    {% endfor %}
  </div>

  <div class="row full-title d-none d-sm-block d-md-none">
    <div class="col">
      <p class="outcomes">Health Outcomes and Experiences</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="tab-content" id="nav-tabContent">
        {% for category in report_categories %}
          <div class="tab-pane fade {{ (loop.first) ? 'show active' }}" id="{{ category.name|clean_class }}"
               role="tabpanel" aria-labelledby="">
            <h2>{{ category.long_title }}</h2>
            <div class="row">
              <div class="col-12 order-sm-1 order-lg-0">
                <div class="row order-sm-1">
                  <div class="col-4">
                    <h5 class="card-title">TOPICS</h5>
                  </div>
                  <div class="col-8">
                    <p class="text-right">
                      <a class="expand-all" href="#" data-id="accordion-{{ category.id }}"
                         data-parent="{{ category.name|clean_class }}">Expand All</a> / <a class="collapse-all" href="#"
                                                                                           data-id="accordion-{{ category.id }}"
                                                                                           data-parent="{{ category.name|clean_class }}">Collapse
                        All</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6 order-sm-2 order-lg-1">
                <div class="accordion" id="accordion-{{ category.id }}">
                  {% if category.id == 1 %}
                    {% include '@portal_navigator/accordion.html.twig' with {'accordion_content': health_outcomes_and_experiences } %}
                  {% endif %}

                  {% if category.id == 2 %}
                    {% include '@portal_navigator/accordion.html.twig' with {'accordion_content': understand_health_needs, 'accordion_top': 'Each B.C. resident is assigned a single <strong>Health Profile Group (HPG)</strong> every fiscal year, representing the most clinically relevant health condition present for a person during the past two years. The 239 Health Profile Groups fit into 16 high-level <strong>Health Profile Group Categories</strong>. These are further sorted into the four groups below: Staying Healthy, Getting Better, Living with Illness or Disability, and Optimally Coping with End of Life. <br><br><button class="btn btn-primary open-report" data-toggle="modal" data-embed="https://pwrbistg.hlth.gov.bc.ca/Reports/powerbi/HSPF/QA/HSPF%20Summary?rs:embed=true" data-target="#exampleModalCenter" data-options="false" data-title="Summary Report" data-report="">View Summary Report</button>' } %}
                  {% endif %}

                  {% if category.id == 3 %}
                    {% include '@portal_navigator/accordion.html.twig' with {'accordion_content': meet_health_needs } %}
                  {% endif %}

                  {% if category.id == 4 %}
                    {% include '@portal_navigator/accordion.html.twig' with {'accordion_content': support_service_providers } %}
                  {% endif %}

                  {% if category.id == 5 %}
                    {% include '@portal_navigator/accordion.html.twig' with {'accordion_content': enable_technology_and_infrastructure } %}
                  {% endif %}
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6 order-sm-0 order-lg-2" id="definition-summary">
                <div class="card">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="{{ category.image }}" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <div class="default">
                          <h4>Objective</h4>
                          {% autoescape false %}
                            {{ category.description }}
                          {% endautoescape %}
                        </div>

                        <div class="new" style="display:none;">
                          <h4 class="title">Definition</h4>
                          <div class="description"></div>
                          <div class="actions">
                            <button class="btn btn-primary open-report" data-toggle="modal" data-id=""
                                    data-target="#exampleModalCenter" data-title="" data-report="" data-options="">View
                              Report
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
