{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<div class="sitebranding">
  <div class="banner">
    {% if site_logo %}
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>
    {% endif %}
    {% if site_name %}
        <h1>{{ site_name }}</h1>
        <div aria-label="This application is currently in Beta phase" class=Beta-PhaseBanner>
          Beta
        </div>
    {% endif %}
  </div>

  <div class="other">
    <a class="nav-btn">
        <i class="fas fa-bars" id="menu"></i>
    </a>
    {% if site_slogan %}
        {{ site_slogan }}
    {% endif %}
  </div>
</div>
{% endblock %}