{% if accordion_top %}
    <div class="card">
        <div class="card-header" style="padding: .75rem 1.25rem;">
            <p class="mb-0">
                {% autoescape false %}
                    {{ accordion_top }}
                {% endautoescape %}
            </p>
        </div>
    </div>
{% endif %}
{% for card in accordion_content %}
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ card[0].category }}">
                {{ card[0].category_name }}
            </button>
            </h4>
        </div>
        <div id="collapse-{{ card[0].category }}" class="collapse {{ (loop.first) ? 'show' }}" data-parent="#accordion-{{ category.id }}">
            <div class="card-body">
            <ul> 
                {% for link in card %}
                <li><a href="#" class="retrieve-content" data-id="{{ link.nid }}" >{{ link.title }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
{% endfor %}