.accordion {
    .card-header {
        padding: 0;
        .btn-link {
            display: inline-block;
            font-size: inherit;
            width: 100%;
            text-align: left;
            padding: .75rem 1.25rem;
        }
    }
}