.ms-webpartPage-root{border-spacing:0;}
#reportcontainer{width:1280px;height:720px;}
#framecontainer{float:left;width:1244px;height:720px;}
#shield{
    position:relative;
    float:left;
    width:34px;
    height:720px;
    background:white;
    left:-34px;
}

// Manage width - Breakpoints
@media screen and (min-width: 899px) and (max-width: 1210px) {
  iframe {
    width: 95% !important;
  }
}
