.modal.show .modal-dialog {
    max-width: 80%;
}
.modal {
    .modal-body {
        .btn-group-vertical {
            button {
                margin-bottom: 1rem;
            }
        }
    }
}