/* BLOCKS */
.node-field-block-half {
  width: 49%;
  max-width: 49%;
  display: inline-block;
  padding: 15px;
  vertical-align: top;
}

/* TAGS */
.container-tags {
  span {
    margin-right: 0.8rem;
    a {
      text-decoration: underline;
    }
  }
}

/* RELATED REPORTS */
.related-reports-container {
  padding: 0 15px 15px 15px;
  h2 {
    margin-bottom: 15px;
  }
  .related-reports {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    div.related-report {
      display: inline-block;
      max-width: 320px;
      margin-bottom: 20px;
      .views-field-title {
        margin-top: 10px;
      }
    }
    p, .views-field, h3 {
      display: inline-block;
    }
  }
}

