#search-block-form {
    display: flex;
    justify-content: flex-end;

    .BC-Gov-PrimaryButton {
        background-color: #007bff;
    }

    .text_input {
        margin-top: 0;
        margin-bottom: 0;
        height: 52px;
    }
}