#tiles {
    margin: 15px 0; 
    min-height: 50vh;
        // background: transparent;
        // border: none;
    .list-group-item-action {
        &:hover {
            background: none;
        }
    }
    h3 {
        background-color:  #fff;
        text-align: center;
        cursor: pointer;
        height: 100%;
        padding: 15px;
        i {
            font-size: 3.5rem;
            margin-bottom: 0.5rem;
        }

        &:hover {
            z-index: 2;
            color: #fff;
            background-color: #007bff;
            i {
                color: #fff;
            }
            &.tile-health-outcomes-and-experiences {
                background-color: #38598A;
            }
            &.tile-understand-health-needs {
                background-color: #546fe4;
            }
            &.tile-meet-health-needs {
                background-color: #3a852b;
            }
            &.tile-support-service-providers {
                background-color: #953734;
            }
            &.tile-enable-technology-and-infrastructure {
                background-color: #e3a82b;
            }
        }

        span {
            display: block;
        }
    }
    .active {
        h3 {
            z-index: 2;
            color: #fff;
            background-color: #007bff;
            i {
                color: #fff;
            }
            &.tile-health-outcomes-and-experiences {
                background-color: #38598A;
                // border-bottom: 3px solid #38598A;
            }
            &.tile-understand-health-needs {
                background-color: #546fe4;
                // border-bottom: 3px solid #546fe4;
            }
            &.tile-meet-health-needs {
                background-color: #3a852b;
                // border-bottom: 3px solid #3a852b;
            }
            &.tile-support-service-providers {
                background-color: #953734;
                // border-bottom: 3px solid #953734;
            }
            &.tile-enable-technology-and-infrastructure {
                background-color: #e3a82b;
                // border-bottom: 3px solid #e3a82b;
            }
        }
    }
    .full-title {
        p {
            padding: 0 15px;
            color: #fff;
            font-weight: bold;
            
            &.outcomes {
                background-color: #38598A;
            }
            &.understand {
                background-color: #546fe4;
            }
            &.meet {
                background-color: #3a852b;
            }
            &.support {
                background-color: #953734;
            }
            &.enable {
                background-color: #e3a82b;
            }
        }
        
    }
    
}