/* HEADER */
header {
  h1 {
    font-weight: bold;
  }
}

/* NAVIGATION */
.navigation-main, .navigation-secondary {
  .container-fluid {
    ul {
      li {
        a {
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
    }
  }

  .container {
    ul {
      li {
        a {
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
    }
  }
}

/* SIDEBAR - NAV */
li.active-trail {
  a.is-active {
    font-weight: normal;
  }
}

.banner {
  @media screen and (max-width: 899px) {
    h1 {
      font-size: 1.25rem;
    }
  }
}

/* NODES */

// Report
.container-tags {
  span {
    a {
      font-size: 1.2rem;
    }
  }
}

.related-reports-container {
  .views-field-title {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

// Category page
#category-page-title {
  font-size: 3rem;
  font-weight: bold;
}

.children-reports-container {
  article {
    h2 {
      font-size: 1.3rem;
    }
  }
}

/* BUTTONS */
.btn {
  font-size: 1.6rem;
}

/* FOOTER */
#footer {
  a {
    font-size: 1.2rem;
  }
}
