.bc-gov-alertbanner-success {
    width: 800px;
    margin-bottom: 36px;
}

.bc-gov-alertbanner-error {
    width: 800px;
    margin-bottom: 36px;
}

.bc-gov-alertbanner-important {
    width: 800px;
    margin-bottom: 36px;
}

.bc-gov-alertbanner-warning {
    width: 800px;
    margin-bottom: 36px;
}

.bc-gov-alertbanner-contents {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 30px;
}