.date_input_day, .date_input_month {
    height: 25px;
    border: 2px solid #606060;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    width: 32px;
}

.date_input_year {
    height: 25px;
    border: 2px solid #606060;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    width: 64px;
}

.date_input_day[type="text"]:focus {
    outline: 4px solid #38598a;
    outline-offset: 1px;
}

.date_input_month[type="text"]:focus {
    outline: 4px solid #38598a;
    outline-offset: 1px;
}

.date_input_year[type="text"]:focus {
    outline: 4px solid #38598a;
    outline-offset: 1px;
}

.text_label {
    display: flex;
}

.date_field {
    margin-right: 20px;
}