.BC-Gov-PrimaryButton-disabled {
    background-color: #003366;
    opacity: 0.3;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: not-allowed;
}

.BC-Gov-SecondaryButton-disabled {
    background-color: white;
    opacity: 0.3;
    border: 2px solid #003366;
    border-radius: 4px;
    color: #003366;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: not-allowed;
}