.bc-gov-form {
    display: flex;
    flex-direction: column;
align-items: flex-start;
}
  
.bc-gov-dropdown-label {
    margin-bottom: 10px;
}
  
.bc-gov-dropdown {
    font-size: 18px;
    color: #494949;
    background: white;
    box-shadow: none;
    border: 2px solid #606060;
    min-width: 200px;
    padding: 8px 45px 8px 15px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.fa-chevron-down {
    pointer-events: none;
    position: absolute;
    top: calc(1em - 4px);
    right: 1em;
}
  
.bc-gov-dropdown-wrapper {
    position: relative;
    display: inline;
}
