footer {
    height: 65px;
}

// Form Labels
.js-form-type-textfield label,
.js-form-type-textarea label,
.js-form-type-email label {
    display: block;
}

// Hide filter text temporarily for testing
.filter-wrapper {
    display: none;
}