#footer {
    .container,
    .container-fluid {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 46px;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        list-style: none;
        align-items: center;
        height: 100%;
        li {
            a {
                font-size: 1.3rem;
                font-weight: normal;  /* 400 */
                padding-left: 5px;
                padding-right: 5px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                &:focus {
                    outline-offset: 1px;
                }
            }
        }
    }
}
