/* MAIN NAVIGATION */
.navigation-main {
  display: none;
  width: 100%;

  .container, .container-fluid {
    padding: 10px 0 10px 0;

    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      list-style: none;

      .active {
        font-weight: bold;
      }

      li {
        margin: 5px 0;

        a {
          display: flex;
          font-weight: normal; /* 400 */
          padding: 0 15px 0 15px;
        }
      }
    }
  }
}


/* SECONDARY NAVIGATION */
.navigation-secondary {
  display: none;
  width: 100%;

  .container, .container-fluid {
    padding: 10px 0 10px 0;

    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      list-style: none;

      .active {
        font-weight: bold;
      }

      li {
        margin: 5px 0;

        a {
          display: flex;
          font-weight: normal; /* 400 */
          padding: 0 15px 0 15px;
          text-decoration: none;
        }
      }
    }
  }
}

/*
  These are sample media queries only. Media queries are quite subjective
  but, in general, should be made for the three different classes of screen
  size: phone, tablet, full.
*/

@media screen and (min-width: 768px) {
  /* MAIN NAVIGATION */
  .navigation-main {
    display: block;
  }

  .navigation-main .container ul,
  .navigation-main .container-fluid ul {
    flex-direction: row;
  }

  .navigation-main .container ul li,
  .navigation-main .container-fluid ul li {
    margin: 0;
  }

  header .nav-btn {
    display: none;
    width: auto;
    margin: 0 0 0 auto;
    cursor: pointer;
  }

  /* SECONDARY NAVIGATION */
  .navigation-secondary {
    display: block;
  }

  .navigation-secondary .container ul,
  .navigation-secondary .container-fluid ul {
    flex-direction: row;
  }

  .navigation-secondary .container ul li,
  .navigation-secondary .container-fluid ul li {
    margin: 0;
  }

  header .nav-btn {
    display: none;
    width: auto;
    margin: 0 0 0 auto;
    cursor: pointer;
  }
}
