.BC-Gov-PrimaryButton {
    background-color: #003366;
    color: white;

    border: none;
    border-radius: 4px;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      opacity: 0.80;
    }
    &:active {
      opacity: 1;
    }
}

// Dark Version
.BC-Gov-PrimaryButton-Dark {
    background-color: #fff;
    color: #494949;
    border: none;
    border-radius: 4px;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      background-color: #f2f2f2
    }
    &:active {
      background-color: #fff;
    }
}