/* Customize the label (the container) */
.radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default radio button */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        /* When the radio button is checked, add a blue background */
        &:checked ~ .dot {
            background-color: #ffffff;
        }

        /* Custom checkbox has blue outline when in focus */
        &:focus ~ .dot {
            outline: 4px solid #3B99FC;
            outline-offset: 1px;
        }

        &:checked ~ .dot:after {
            display: block;
        }
    }

    /* Create a custom radio button */
    .dot {
        position: absolute;
        top: 1px;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: 2px solid #606060;

        /* Create the indicator (the dot/circle - hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #606060;
            transform: translate(-50%, -50%);
        }
    }
}