#block-searchform {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  #search-block-form {
    display: flex;
    justify-content: flex-end;
    .js-form-type-search:after{
      position: absolute;
      transform: translate(0,-50%);
      right: 10px;
      top: 50%;
      content: "\f002";
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;
      font-size: 1.5rem;
    }
    .BC-Gov-PrimaryButton {
      background-color: #007bff;
      display: none;
    }
    .text_input {
      margin-top: 0;
      margin-bottom: 0;
      height: 3rem;
      width: 25rem;
      border: 0;
    }
  }
}

