.BC-Gov-SecondaryButton {
    background: none;
    border-radius: 4px;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
        opacity: 0.80;
        text-decoration: underline;
        background-color: #003366;
        color: #FFFFFF;
    }

    &:active {
        opacity: 1;
    }
}

// Dark Version
.BC-Gov-SecondaryButton-Dark {
    background: none;
    border-radius: 4px;
    border: 2px solid #fff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;

    &:hover {
        text-decoration: underline;
        background-color: #fff;
        color: #494949;
    }

    &:active {
        background-color: #f2f2f2;
        color: #494949;
    }
}
