/* SIDEBAR - LEFT */
.block-region-left {
  padding: 0px;
  nav {
    ul {
      padding-left: 0px;
      list-style: none;
      flex-direction: column;
      li {
        margin-bottom: 18px;
        & > a {
          padding: 0px 12px;
          display: block;
        }
        ul {
          li {
            margin-bottom: 0;
            a {
              display: block;
              padding: 2px 12px;
            }

            &:first-child {
              a {
                padding-top: 4px;
              }
            }

            &:last-child {
              a {
                padding-bottom: 4px;
              }
            }

            &:only-child {
              a {
                padding-bottom: 4px;
              }
            }
          }
          li.active-trail {
            border-radius: 4px;
            margin: 5px 10px 5px 0px;
            a {
              padding: 8px 12px;
            }
          }
        }
      }
    }
  }
}

/* SIDEBAR - RIGHT */
