// The B.C. Government colour palette
// ensures all public facing government
// services have consistent branding.

//----- DEFINE COLOURS ----------------------------//

// Primary B.C. Brand
$header-blue: #003366; // Used for header, footer, primary button
$bc-gold: #FCBA19; // Used for header, footer, beta status
$text: #494949; // Used for headings and paragraphs
$link-blue: #1A5A96; // Used for Links

// Backgrounds
$background-blue: #38598A; // Used for navigation bar
$background-white: #F2F2F2; // Used for backgrounds

// Components
$component-grey: #606060; // Used for text input, textarea, checkbox, radio button

// Body background
$grey-background: #F1F1F1;

// Semantic Colours
$error: #D8292F; // Used for error messages and indicators
$success: #2E8540; // Used for success messages and indicators

// General
$black: #000000;
$blue: blue;
$light-blue: #5091CD;
$white: #ffffff;
$greenish-white: #EAF3EC;
$pinkish-white: #b3b1b3;
$bluish-white: #EEF4FA;
$orange-yellow: #F3BD48;
$orangish-white: #FEF8ED;
$reddish-white: #FBEAEA;
$grey-blue: #4b5e7e;
$dark-grey: #666666;

// Sidebar
$sidebar-grey: #F7F7F7;

// Sizes
$border-left-width: 10px;

//----- LAYOUT & ELEMENTS ----------------------------//

// Body
// Typography
body {
  color: $text;
  background-color: $grey-background !important;
}

// Alert Banners
.bc-gov-alertbanner-success {
    background-color: $greenish-white;
    border-left: $border-left-width solid $success;
}

.bc-gov-alertbanner-error {
    background-color: $reddish-white;
    border-left: $border-left-width solid $error;
}

.bc-gov-alertbanner-important {
    background-color: $bluish-white;
    border-left: $border-left-width solid $light-blue;
}

.bc-gov-alertbanner-warning {
    background-color: $orangish-white;
    border-left: $border-left-width solid $orange-yellow;
}

.bc-gov-alertbanner-contents {
    color: $text;
}

// Callouts
.bcgov-callout {
    border-left: $border-left-width solid $background-blue;
    background-color: $background-white;
}

// Footer
#footer {
    background-color: $header-blue;
    border-top: 1.5px solid $bc-gold;
    color: $white;
    ul {
        color: $white;
        li {
            a {
                color: $white;
                border-right: 1px solid $grey-blue;
                &:hover {
                    color: $white;
                }
                &:focus {
                    outline: 4px solid $blue;
                }
            }
        }
    }
}

// Header
header {
    background-color: $header-blue;
    border-bottom: 1.5px solid $bc-gold;
    color: $white;
}

// Links
a { color: $link-blue; }
a:hover { color: $blue; }
i { color: $link-blue; }

// Navigation Main
.navigation-main {
    color: $bc-gold;
    background-color: $background-blue;
    .container {
        ul {
            color: $white;
            li {
                a {
                    color: $white;
                }
            }
        }
    }
}

// Navigation Secondary
.navigation-secondary {
  color: $bc-gold;
  background-color: $background-blue;
  .container {
    ul {
      color: $white;
      li {
        a {
          color: $white;
        }
      }
    }
  }
}

// Sidebar
.block-region-left {
  nav {
    background-color: $white;
    ul {
      li {
        a {
          color: $background-blue;
          font-weight: bold;
        }
        ul {
          li {
            a {
              color: $background-blue;
              font-weight: normal;
            }
          }
          li.active-trail {
            background-color: $background-blue;
            a {
              color: $white;
            }
          }
        }
      }
    }
  }
}

// Search form
#block-searchform {
  .js-form-type-search:after {
    color: $pinkish-white;
  }
}

// Buttons
.BC-Gov-SecondaryButton {
  border: 2px solid $white;
  color: $white;
}

  // Tables
table, th, td { border: 1px solid $black; }
th { background-color: $bluish-white; }

