table {
    border: 1px solid black;
    border-collapse: collapse;

    th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
    }
    th {
        text-align: left;
        background-color: #d0d0d1;
    }
    
    caption {
        padding: 15px;
    }
}