textarea {

    &.text_input {
        font-size: 18px;
        font-family: 'Noto Sans', Verdana, Arial, sans-serif;
        border: 2px solid #606060;
        height: auto;
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 4px;
        padding: 5px;
        resize: none;

        &:focus {
            outline: 4px solid #3B99FC;
            outline-offset: 1px;
        }

    }

    .text_label {
        display: flex;
    }

}