/* BC Sans Regular 400 */
@font-face {
  font-family: 'BC Sans';
  src: url('../styles/typography/fonts/BCSans-Regular.eot') format('eot');
  src: url('../styles/typography/fonts/BCSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../styles/typography/fonts/BCSans-Regular.woff2') format('woff2'),
  url('../styles/typography/fonts/BCSans-Regular.woff') format('woff'),
  url('../styles/typography/fonts/BCSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* BC Sans Italic 400 */
@font-face {
  font-family: 'BC Sans Italic';
  src: url('../styles/typography/fonts/BCSans-Italic.eot') format('eot');
  src: url('../styles/typography/fonts/BCSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../styles/typography/fonts/BCSans-Italic.woff2') format('woff2'),
  url('../styles/typography/fonts/BCSans-Italic.woff') format('woff'),
  url('../styles/typography/fonts/BCSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* BC Sans Bold 700 */
@font-face {
  font-family: 'BC Sans Bold';
  src: url('../styles/typography/fonts/BCSans-Bold.eot') format('eot');
  src: url('../styles/typography/fonts/BCSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../styles/typography/fonts/BCSans-Bold.woff2') format('woff2'),
  url('../styles/typography/fonts/BCSans-Bold.woff') format('woff'),
  url('../styles/typography/fonts/BCSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* BC Sans Bold Italic 700 */
@font-face {
  font-family: 'BC Sans Bold Italic';
  src: url('../styles/typography/fonts/BCSans-BoldItalic.eot') format('eot');
  src: url('../styles/typography/fonts/BCSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../styles/typography/fonts/BCSans-BoldItalic.woff2') format('woff2'),
  url('../styles/typography/fonts/BCSans-BoldItalic.woff') format('woff'),
  url('../styles/typography/fonts/BCSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

//----- DEFINE FONTS ----------------------------//
$primary-font: 'BC Sans', Verdana, Arial, sans-serif;
$primary-font-bold: 'BC Sans Bold', Verdana, Arial, sans-serif;
$primary-font-italic: 'BC Sans Italic', Verdana, Arial, sans-serif;
$primary-font-bold-italic: 'BC Sans Bold Italic', Verdana, Arial, sans-serif;

html {
  font-size: 62.5%;
}
body {
  font-family: $primary-font !important;
  color: #003366;
  letter-spacing: 0.7px;
}
h1 {
  font-family: $primary-font-bold;
  font-size: 2.074em;
}

h2 {
  font-family: $primary-font-bold;
  font-size: 1.728em;
}

h3 {
  font-family: $primary-font-bold;
  font-size: 1.44em;
}

h4 {
  font-family: $primary-font-bold;
  font-size: 1.2em;
}

p {
  margin-bottom: 2em;
  font-size: 1.2em;
  letter-spacing: 0.2px;
}

em {
  font-family: $primary-font-italic;
}

strong {
  font-family: $primary-font-bold;
}
.small {
  font-size: 1.3rem;
  line-height: 2rem;
}

/* NAVIGATION */


/* SIDEBAR */
.block-region-left {
  nav {
    a {
      font-size: 1.2rem;
      line-height: 1.3;
    }
  }
}
