{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
<div data-drupal-messages>
    {% for type, messages in message_list %}
        {% set statusType = (type == 'status') ? 'important' : '' %}
        <div class="bc-gov-alertbanner-{{ statusType }}" role="alertdialog" aria-labelledby="{{ statusType }}" aria-describedby="{{ statusType }}-desc" role="contentinfo">
            <div class="bc-gov-alertbanner-contents">
                {% if status_headings[type] %}
                    <h3 id="{{ type }}" class="visually-hidden">{{ status_headings[type] }}</h3>
                {% endif %}
                <div id="{{ statusType }}-desc">
                    {% if messages|length > 1 %}
                        <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        {{ messages|first }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>